@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

#name {
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 1px;
}

.sectionHeader h1 {
  font-size: inherit;
}

/* UTILS */

.mobileHidden {
  display: none;
}

.desktopHidden {
  display: block;
}

.sectionHeader {
  margin-inline: auto;
  width: 100%;
  font-size: 1.75rem;
  font-weight: 700;
  text-align: center;
}

.btn {
  padding: 0.75rem 1rem;
  cursor: pointer;
  border: 1px solid #133955;
  border-radius: 8px;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
}

.flexCol {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* NAV */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-size: 1.25rem;
}

.navigation i {
  font-size: 1.5rem;
  z-index: 10;
}

.mobileNav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: white;
}

.mobileNav ul {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  list-style: none;
  flex-direction: column;
  gap: 2rem;
}

.desktopNav {
  width: 50%;
}

.desktopNav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  font-size: 1.25rem;
  list-style: none;
}

/* INTRO */

.intro {
  text-align: center;
}
.info {
  font-weight: 300;
  line-height: 2.1rem;
  color: #133955;
}

.introBtnContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* SKILLS */

.skills {
  width: 100%;
  padding: 2.25rem 1.5rem;
  color: black;
}

.skillsGridContainer ul {
  display: grid;
  gap: 2.25rem;
  grid-template-columns: repeat(4, 1fr);
  font-weight: 900;
  list-style: none;
}

.skillsGridContainer p {
  display: none;
  position: absolute;
  top: -3rem;
  width: max-content;
  padding: 0.5rem 1rem;
  background-color: #f4f7fb;
  border-radius: 10px;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
}

.skillsGridContainer li {
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 1rem;
  font-weight: 300;
  list-style: none;
}

/* PROJECTS */

.projectsGrid {
  display: grid;
  row-gap: 4rem;
  grid-template-columns: 1fr;
}

.projectCard {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.projectScreenshot {
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.2);
}

.projectTitle {
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
  font-weight: 600;
}

.projectInfo {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.techStack {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  width: 100%;
}

.techIcon img {
  object-fit: cover;
  width: 3.5rem;
  height: 3.5rem;
}

.techIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.iconName {
  opacity: 0.8;
  font-size: 0.7rem;
}

.btnContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
}

.btn {
  padding: 0.75rem 1rem;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 1em;
  font-weight: 300;
}

/* CONTACT FORM */

.contactForm {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
  width: 100%;
}

.contactForm label {
  margin-bottom: -0.5rem;
  padding-left: 3px;
  font-size: 0.8rem;
  text-align: start;
}

.footerItems {
  display: flex;
  justify-content: center;
  gap: 1.75rem;
  width: 100%;
  padding: 0rem 1.25rem;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 400;
}

.copyright {
  margin: 0;
  font-size: 0.75rem;
  font-weight: 500;
}

@media (min-width: 1000px) {
  .desktopHidden {
    display: none !important;
  }

  .mobileHidden {
    display: block;
  }

  .navigation {
    padding: 1.5rem 4rem;
  }

  .sectionHeader {
    font-size: 2.25rem;
  }

  .info {
    max-width: 60ch;
  }

  .introBtnContainer {
    flex-direction: row;
    gap: 2rem;
  }

  .skillsGridContainer ul {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
  }

  .skillsGridContainer li {
    font-size: 1.25rem;
  }

  .projectsGrid {
    place-items: center;
    gap: 10rem;
    row-gap: 5rem;
    grid-template-columns: 1fr 1fr;
  }

  .projectCard {
    gap: 2rem;
  }

  .techIcon img {
    width: 3.5rem;
    height: 3.5rem;
  }

  .contactForm {
    width: 50%;
  }

  .messageInput {
    height: 10rem;
    line-height: 100%;
  }

  .submit {
    width: 30%;
    margin: 0 auto;
    text-align: center;
  }
}
